Flask==3.0.3
Jinja2==3.1.4
numpy==1.26.4
pandas==2.2.2
pipwin==0.5.2
python-dateutil==2.9.0.post0
scikit-learn==1.4.2
scikit-surprise==1.1.4
scipy==1.13.0
gunicorn
pearsonr
DBSCAN
openpyxl
flask_mysqldb
psycopg2
